*{
	margin: 0;padding: 0;
}
html, body {
    position: relative;
    height: 100%;width: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}



footer{
	position: fixed;bottom: 0;height:80px;text-align: center;width: 100%;background-color:#FFFFFF;z-index: 997;border-top: 1px solid gainsboro;color: #86939E;
}
.footer-nav-container{
	position: relative;width: 100%;
}
.footer-nav-container:after{
	content: " ";
	display: block;
	clear: both;
}
.footer-nav{
	height:80px;width: 33.3%;float: left;
	
}



.footer-icon{
	height: 25px;padding-top: 15px;
}
.navp{
	color: #dbdbdb;font-size: 14px;
}
.nav-active{
	color:#1AAD19;
}
.hide{
	display: none;
}


.textover{
	text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}
.seat{
	width: 100%;height:100px;
}